body{
    background-image: url('background.jpg');
    background-size: 120vh;
    font-family: monospace;
    text-align: center;
    font-size: 1.5em;
}

input{
    font-size: 1em;
}

#parentcontainer{
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}

#routeplanner{
    background-color: #0008;
    padding: 1em;
    border-radius: 1em;
    color: white;
    display: block;

    left:40vw;
    text-align: left;
}


#rangeslider{
    width: 80%;
    margin: 1em;

}

#routestart{
    all: unset;
    font-size: 1.5em;
    background-color:chocolate;
    padding: .3em;
    border-radius: .3em;
    cursor: pointer;
}
#routestart:hover{
    background-color: rgb(206, 113, 46);
}
#routestart:active{
    background-color: rgb(206, 139, 92);
}


#mapview{
    /* position: absolute; */
    border-radius: 2em;
    border: 1em solid silver;
    left:7vw;
}

#mapview>iframe{
    height:550px;
}

h1{
    font-size: 3em;
    margin: 1em;
}


/* Style for the actual slider input */
#rangeslider{
    margin:0;
    margin-top:1em;
    margin-bottom: 1em;
}

#blogo{
    width:3em;
    text-shadow: black;
    background-color: #0004;
    border-radius: .3em;
    margin-bottom:-.7em;
}

@media (max-width: 600px) {
    body{
        margin: 0;
        background-attachment: fixed;
    }

    #parentcontainer{
        flex-direction: column;
    }

    #routeplanner{
        background-color: #000a;
    }

    #mapview{
        all:unset;
        order: 2;
        margin:0;
        margin-top: 2em;
        top:200vh;
        width: 100vw;
        left:0;
    }

    #mapview>iframe{
        width:100%;
    }
}
