body{
    background-image: url('background.jpg');
    background-size: cover;
    /* color:white; */
    font-family: monospace;
    text-align: center;
    margin-top: 8em;
    font-size: 1.5em;
}

input{
    font-size: 1em;
}

#parentcontainer{
    margin-top: 30vh;
    display: flex;
    justify-content: space-around;

}

#routeplanner{
    background-color: #0008;
    padding: 1em;
    border-radius: 1em;
    color: white;
    display: block;
    position: absolute;
    left:40vw;
    text-align: left;
}


#rangeslider{
    width: 80%;
    margin: 1em;

}

#routestart{
    all: unset;
    font-size: 1.5em;
    background-color:chocolate;
    padding: .3em;
    border-radius: .3em;
    cursor: pointer;
}
#routestart:hover{
    background-color: rgb(206, 113, 46);
}
#routestart:active{
    background-color: rgb(206, 139, 92);
}


#mapview{
    position: absolute;
    border-radius: 2em;
    border: 1em solid silver;
    left:7vw;
}

h1{
    position: absolute;
    font-size: 3em;
    margin: 0;
    top:10vh;
    left: 40vw;
}

#steeringwheel{
    position: fixed;
    bottom: -30vh;
    width: 400vh;
    left:-50vw;
}

#bgimage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    left:-62vw;
    background-color: aqua;
}


/* Style for the actual slider input */
#rangeslider{
    margin:0;
    margin-top:1em;
    margin-bottom: 1em;
}